@font-face {
    font-family: 'minecraft';
    src: url(/res/minecraft.ttf);
}
.wt {
    color: white;
}
.bt {
    color: rgb(32, 32, 32);
}
.comment {
    color: rgb(91, 150, 84);
}
.codeb {
    color: rgb(54, 154, 193);
}
.codelg {
    color: rgb(187, 225, 164);
}
.codelb {
    color: rgb(103, 170, 214);
}
.codedb {
    color: rgb(38, 67, 114);
}
.codely {
    color: rgb(198, 201, 154);
}
.codey {
    color: rgb(186, 148, 18);
}
.codelg {
    color: rgb(60, 156, 133);
}
.codep {
    color: rgb(143, 105, 160);
}
.codedp {
    color: rgb(140, 73, 136);
}
.codeo {
    color: rgb(159, 95, 60);
}